input:hover{
    width: 500px;
    height: 40px;
    /* scale: 1.5; */
    background-color: aqua;
}

input:focus{
    width: 500px;
    height: 40px;
    background-color: yellow;
    font-size: 24px;
}

